@model IEnumerable<CVGS.Areas.MVC.Models.Event>

@{
    ViewData["Title"] = "All Planned Events";
}

<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Event Number
            </th>
            <th>
                Event Name
            </th>
            <th>
                Date of Event
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.eventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    <a asp-action="View" asp-route-id="@item.eventId">View</a> |
                    <a asp-action="Edit" asp-route-id="@item.eventId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.eventId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="float:right;">
    <a asp-action="Create">Add Event</a>
</div>



